<div>
    <h2>Browser Info:</h2>
    <script>
        document.write("<div>Window Width: " + window.innerWidth + "</div>")
        document.write("<div>Window Height: " + window.innerHeight + "</div>")
    </script>
</div>
<div>
    <h2>Headers:</h2>
    <ul>
        {% for header_name, header_value in request.headers.items() %}
        <li>{{header_name}} => {{header_value}}</li>
        {% endfor %}
    </ul>
</div>
<div>
    <h2>Window Information</h2>
    <script>
        for (item in window) {
            document.write("<div>" + item + " => " + window[item] + "</div>")
        }
    </script>
</div>