<div>
    <form method="GET" action="/lofi">
       <b>Search:</b>
       <input type="text" name="terms" value="{{ terms }}" />
       {%- if profile_name is not none %}
       <input type="hidden" name="profile" value="{{ profile_name }}" />
       {%- endif %}
       <input type="hidden" name="layout" value="icon" />
       <input type="submit" value="Search" />
    </form>
 </div>
 {%- if books %}
 <div class="book_list">
    {%- for book, title, writers, transcode_targets in books %}
    <div>
        <img src="{{endpoint}}/book/{{url_quote(book.book_id)}}/cover?image_h={{ thumb_h or 120 }}&{{common_url_info}}" alt="{{ title }}" style="display: inline-block" />
        <div style="display: inline-block; vertical-align: top;">
            <div style="overflow: hidden; text-overflow: ellipsis; font-weight: bold;">
                {{ title }}
            </div>
            <div style="overflow: hidden; text-overflow: ellipsis">
                {{ ", ".join(writers) }}
            </div>
            <div>
                Download:
                {%- for book_source in book.source_metadata.values() %}
                {%- if book_source.source_type in supported_types -%}
                    [ <a href="{{endpoint}}/source/{{url_quote(book_source.source_key)}}/download?{{common_url_info}}">{{ book_source.source_type.name }}</a> ]
                {%- endif %}
                {%- endfor %}
                {%- for source_key, transcodes in transcode_targets %}
                {%- for target in transcodes %}
                    {%- if target in supported_types -%}
                        [ <a href="{{endpoint}}/source/{{url_quote(source_key)}}/transcode/{{url_quote(target.name)}}?{{common_url_info}}">{{ target.name }}</a><abbr title="Transcode from {{book.source_metadata[source_key].source_type.name}}">*</abbr> ]
                    {%- endif %}
                {%- endfor %}
                {%- endfor %}
            </div>
        </div>
    </div>
    {%- if not loop.last %}
    <hr>
    {%- endif %}
    {%- endfor %}
 </div>
 <div style="width: 100%;">
    {% if prev_page_offset is not none %}
    <span style="text-align: left">
    [
       <a href="/lofi?{{ common_url_query }}&offset={{ prev_page_offset }}&limit={{ limit }}">Prev Page</a>
    ]
    </span>
    {% endif %}
    {% if next_page_offset is not none %}
    <span style="text-align: right">
    [
       <a href="/lofi?{{ common_url_query }}&offset={{ next_page_offset }}&limit={{ limit }}">Next Page</a>
    ]
    </span>
    {% endif %}
 </div>
 {% else %}
    {% if prev_page_offset is not none %}
    No more books here! Back to <a href="/lofi?{{ common_url_query }}&offset=0&limit={{ limit }}">start</a>?
    {% else %}
    No books found!
    {% endif %}
 {% endif %}