<h1>Alexandria Books</h1>
<div>
   <form method="GET" action="/lofi">
      <b>Search:</b>
      <input type="text" name="terms" value="{{ terms }}" />
      {%- if profile_name is not none %}
      <input type="hidden" name="profile" value="{{ profile_name }}" />
      {%- endif %}
      <input type="submit" value="Search" />
   </form>
</div>
{%- if books %}
<div>
   [
     {%- if prev_page_offset is not none -%}
      <a href="/lofi?{{ common_url_query }}&offset={{ prev_page_offset }}&limit={{ limit }}">Prev Page</a>
     {%- else %}
     Prev Page
     {%- endif %}
   ]
   [
     {%- if next_page_offset is not none -%}
      <a href="/lofi?{{ common_url_query }}&offset={{ next_page_offset }}&limit={{ limit }}">Next Page</a>
     {%- else %}
     Next Page
     {%- endif %}
   ]
</div>
<ul class="book_list">
   {%- for book, title, writers, transcode_targets in books %}
      <li class="book" id="{{ book.book_id }}">
         <div style="overflow: hidden; text-overflow: ellipsis">
            <a href="{{endpoint}}/book/{{url_quote(book.book_id)}}/cover?{{common_url_info}}">{{ title }}</a> - {{ ", ".join(writers) }}
         </div>
         <div>
            Download:
            {%- for book_source in book.source_metadata.values() %}
               {%- if book_source.source_type in supported_types -%}
                  [ <a href="{{endpoint}}/source/{{url_quote(book_source.source_key)}}/download?{{common_url_info}}">{{ book_source.source_type.name }}</a> ]
               {%- endif %}
            {%- endfor %}
            {%- for source_key, transcodes in transcode_targets %}
               {%- for target in transcodes %}
                  {%- if target in supported_types -%}
                     [ <a href="{{endpoint}}/source/{{url_quote(source_key)}}/transcode/{{url_quote(target.name)}}?{{common_url_info}}">{{ target.name }}</a><abbr title="Transcode from {{book.source_metadata[source_key].source_type.name}}">*</abbr> ]
                  {%- endif %}
               {%- endfor %}
            {%- endfor %}
         </div>
      </li>
   {% endfor %}
</ul>
<div>
   [
     {%- if prev_page_offset is not none -%}
      <a href="/lofi?{{ common_url_query }}&offset={{ prev_page_offset }}&limit={{ limit }}">Prev Page</a>
     {%- else -%}
     Prev Page
     {%- endif %}
   ]
   [
     {%- if next_page_offset is not none -%}
      <a href="/lofi?{{ common_url_query }}&offset={{ next_page_offset }}&limit={{ limit }}">Next Page</a>
     {%- else %}
     Next Page
     {%- endif %}
   ]
</div>
{%- else %}
   {%- if prev_page_offset is not none %}
   No more books here! Back to <a href="/lofi?{{ common_url_query }}&offset=0&limit={{ limit }}">start</a>?
   {%- else %}
   No books found!
   {%- endif %}
{%- endif %}