<!doctype html>
<html>
   <head>
      <title>Alexandria Books (lofi)</title>
      <link rel="related"   
        href="/api/opds/root.xml" 
        type="application/atom+xml;profile=opds-catalog"  
        title="AlexandriaBooks OPDS Catalog" />
      <link rel="search"
        type="application/opensearchdescription+xml"
        href="/api/opensearch/search.xml"
        title="AlexandriaBooks Search" />
   </head>
   <body>
      {%- if layout == "designer" %}
      {%- include('designer_view.html') %}
      {%- elif layout == "icon" %}
      {%- include('icon_view.html') %}
      {%- else %}
      {%- include('list_view.html') %}
      {%- endif %}
   </body>
</html>